<div class="offcanvas-md offcanvas-start col-md-3 col-xl-2" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="sidebarLabel">Navigation</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebar" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body pt-3 flex-column" id="sidebar-content"></div>
</div>
