@model WebApp.Pages.Settings.General.EditClinicalSettingModel
@{
	Layout = "Modals/UpdateModal";
}

<form method="post" action="@Url.Page("Index", "EditClinicalSetting")">

	<p>Please select a default clinical setting:</p>
	<vc:clinical-setting-list
		list-name="Settings.DefaultClinicalSettingId"
		allow-null="true"
		items="@Model?.ClinicalSettings"
		selected="@Model?.Settings.DefaultClinicalSettingId"
	/>

	@Html.HiddenForId(x => x.Settings.Id)
	@Html.HiddenFor(x => x.Settings.Version)
	@Html.AntiForgeryToken()

</form>
